.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 926px) {
    body {
        padding: 0;
        margin: 0;
        background-color: #F283B6;
    }
}

@media screen and (min-width: 825px) and (max-width: 924px) {
    body {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: auto 250px;
        background-color: #F283B6;
    }
}

/* tablet */
@media screen and (max-width: 824px) and (min-width: 251px) {
    body {
      display: none;
  }
}

/* mobile */
@media screen and (max-width: 250px) {
    body {
      display: none;
    }
}
